// FONT
$white: #FFFFFF;

// THANATOS
//MAIN
$black: #000000;
$darkGray: #2F4F4F;
//SECONDARY
$lightGray: #808080;
$darkRed: #8B0000;


//HYPNOS
//MAIN
$midnightBlue: #003366;
$violet: #6A0D91;
//SECONDARY
$lightBlue: #3399FF;
$lightViolet: #8A2BE2;