@import "config";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $darkGray;
}

.container{
    display: flex;
    gap: 20px;
    width: 500px;
    background-color: $midnightBlue;
    justify-content: center;
    .item{
        background-color: $lightViolet;
    }
}
